
.pagination-bar {
    background-color: #f8f7f2;
    padding: 5px;
    margin: 5px 0px;
}

.pagination-bar > a {
    padding: 2px;
}
.pagination-bar > span {
    padding: 2px;
    font-weight: bold;
}
